<div class="auth-container">
    <div class="auth-card">
        <h2 class="auth-title">Kayıt Ol</h2>
        <form [formGroup]="registerForm" (submit)="register()">
            <input type="text" name="firstName" placeholder="Ad" formControlName="firstName" />
            <input type="text" name="lastName" placeholder="Soyad" formControlName="lastName" />
            <input type="email" name="email" placeholder="Email" formControlName="email" />
            <input type="password" name="password" placeholder="Şifre" formControlName="password" />
            <button type="submit" [disabled]="!registerForm.valid">Kayıt Ol</button>
        </form>
        <p class="switch-auth">Zaten hesabın var mı? <a routerLink="/login">Giriş Yap</a></p>
    </div>
</div>