<div>
    <form class="d-flex ms-3 flex-grow-1">
        <input class="form-control me-2" [(ngModel)]="filterText" type="search" placeholder="Arama Yap"
            aria-label="Search" name="search" />

    </form>
</div>


<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Araba</th>
            <th scope="col">Marka</th>
            <th scope="col">Renk</th>
            <th scope="col">Günlük Ücret</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let car of cars |filter:filterText">
            <td>{{car.carName}}</td>
            <td>{{car.brandName}}</td>
            <td>{{car.colorName}}</td>
            <td>{{car.dailyPrice |currency}}</td>
            <td><button type="button" (click)="addToCart(car)" class="btn btn-success">Kirala</button></td>
        </tr>
    </tbody>
</table>