<div class="auth-container">
    <div class="auth-card">
        <h2 class="auth-title">Giriş Yap</h2>
        <form [formGroup]="loginForm" (submit)="login()">
            <input type="email" name="email" placeholder="Email" formControlName="email" required />
            <input type="password" name="password" placeholder="Şifre" formControlName="password" required />
            <button [disabled]="!loginForm.valid" type="submit">Giriş Yap</button>
        </form>
        <p class="switch-auth">Hesabın yok mu? <a routerLink="/register">Kayıt Ol</a></p>
    </div>
</div>