<div class="car-update container py-4">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card p-4 rounded shadow-lg">
                <h3 class="text-center mb-4">Araç Güncelle</h3>
                <form [formGroup]="carUpdateForm" (ngSubmit)="updateCar()">
                    <div class="mb-3">
                        <label for="carName" class="form-label">Araç İsmi</label>
                        <input type="text" id="carName" formControlName="carName" class="form-control"
                            placeholder="Araç İsmi">
                    </div>

                    <div class="mb-3">
                        <label for="brandName" class="form-label">Marka</label>
                        <input type="text" id="brandName" formControlName="brandName" class="form-control"
                            placeholder="Marka">
                    </div>

                    <div class="mb-3">
                        <label for="modelYear" class="form-label">Model Yılı</label>
                        <input type="number" id="modelYear" formControlName="modelYear" class="form-control"
                            placeholder="Model Yılı">
                    </div>

                    <div class="mb-3">
                        <label for="colorName" class="form-label">Renk</label>
                        <input type="text" id="colorName" formControlName="colorName" class="form-control"
                            placeholder="Renk">
                    </div>

                    <div class="mb-3">
                        <label for="dailyPrice" class="form-label">Günlük Ücret</label>
                        <input type="number" id="dailyPrice" formControlName="dailyPrice" class="form-control"
                            placeholder="Günlük Ücret">
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Açıklama</label>
                        <input type="text" id="description" formControlName="description" class="form-control"
                            placeholder="Açıklama">
                    </div>

                    <button type="submit" [disabled]="carUpdateForm.invalid"
                        class="btn btn-success w-100">Güncelle</button>
                </form>
            </div>
        </div>
    </div>
</div>